# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes and rmarkdown documents
vignettes/*.html
vignettes/*.pdf
devDocs/*.html
devDocs/*.log
devDocs/*.tex

# Excel locks
**/.~lock.*#

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
**/*_cache/
*.utf8.md
*.knit.md

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Python virtual environment
integmeta_env/**


# kate
*.kate-swp
# For now let's not follow the changes in the rmarkdown-produced documents, nor in any excel or such R results, what's important is code!
*.pdf
*.html
*.xlsx
*.RData
*.Rout
*.aux
*.toc
*.swp
*.csv
*.Rproj
# exception


###########################################
##### PYTHON #############################
###########################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot


**/.env
**/env_**
**/**_env
